
Chapter 02/.vs/Chapter 02/v15/.suo
Chapter 02/.vs/Chapter 02/v15/Server/sqlite3/db.lock
Chapter 02/.vs/Chapter 02/v15/Server/sqlite3/storage.ide
Chapter 02/.vs/Chapter 02/v15/Server/sqlite3/storage.ide-shm
Chapter 02/.vs/Chapter 02/v15/Server/sqlite3/storage.ide-wal
